<h1>新規登録</h1>

<%= form_with model: @user, url: user_path, local: true do |f| %>

    <div class="mb-3">
        <%= f.label :name %><br>
        <%= f.text_field :name, :placeholder => "シュッピー太郎" %>
    </div>

    <div class="mb-3">
        <%= f.label :email %><br>
        <%= f.text_field :email, :placeholder => "syuppy@taihenppy.com" %>
    </div>

    <div class="mb-3">
        <%= f.label :password %><br>
        <%= f.password_field :password %>
    </div>

    <div class="mb-3">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation %>
    </div>

    <div>
        <%= f.submit :登録, class: "btn btn-primary mx-1" %>
    </div>
    <%= link_to "アカウントをお持ちの方はこちら", login_path %>
<% end %>